---
import Main from '@/layouts/main.astro'
import NetworkGraph from '@/features/graph/NetworkGraph'
---

<Main title="Topology.View">
  <main class="bg-black w-full h-full overflow-hidden">
    <NetworkGraph client:only="react" />
  </main>
</Main>
